@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;

400;700&family=Roboto:wght@300;400;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #1c1c1c;
  color: white;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

header .container {
  width: 70%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

header .header-top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 20px;
  background-color: #0282f9;
  color: white;
  justify-content: center;
}

header .header-menu {
  position: absolute;
  top: 20px;
  width: 100%;
  background-color: white;
  height: 100px;
  color: #1c1c1c;
  justify-content: center;
}

header .header-menu .logo {
  flex-direction: column;
}

header .header-menu .logo img {
  width: 75px;
}

header .header-menu nav {
  display: flex;
  justify-content: center;
}

header .header-menu nav ul {
  display: flex;
}

header .header-menu nav ul li {
  text-transform: uppercase;
  flex-direction: column;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

header .header-menu nav ul a {
  display: inline-block;
  line-height: 96px;
  color: #1c1c1c;
}

header .header-menu nav ul a.current {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

header .header-jumbo {
  width: 100%;
  position: absolute;
  top: 120px;
}

header .header-jumbo .content {
  overflow: hidden;
  height: 400px;
}

header .header-jumbo .content img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  position: absolute;
  top: 520px;
}

